<?xml version="1.0"?>
<config>
    <modules>
        <Databunch_Labels>
            <version>0.1.1</version>
        </Databunch_Labels>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <labels>
                    <file>databunch/labels.xml</file>
                </labels>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <labels>
                                            <title>Databunch Labels</title>
                                        </labels>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Databunch_Labels>
                    <files>
                        <default>Databunch_Labels.csv</default>
                    </files>
                </Databunch_Labels>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <labels module="Databunch_Labels">
                    <file>databunch/labels.xml</file>
                </labels>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <labels>
                <class>Databunch_Labels_Block</class>
            </labels>
        </blocks>
        <helpers>
            <labels>
                <class>Databunch_Labels_Helper</class>
            </labels>
        </helpers>
        <models>
            <labels>
                <class>Databunch_Labels_Model</class>
            </labels>
        </models>

        <resources>
            <labels_setup>
                <setup>
                    <module>Databunch_Labels</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </labels_setup>
            <labels_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </labels_write>
            <labels_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </labels_read>
        </resources>
    </global>
    <default>
        <labels>
            <general>
                <location>10</location>
            </general>
            <new_label>
                <enabled>1</enabled>
                <text>New</text>
                <background_color>00ad5d</background_color>
                <text_color>ffffff</text_color>
            </new_label>
            <sale_label>
                <enabled>1</enabled>
                <text>Sale</text>
                <show_percentage>1</show_percentage>
                <limit>5</limit>
                <format>%d%% OFF</format>
                <background_color>f24841</background_color>
                <text_color>ffffff</text_color>
            </sale_label>
            <featured_label>
                <enabled>1</enabled>
                <text>Featured</text>
                <background_color>3399cc</background_color>
                <text_color>ffffff</text_color>
            </featured_label>
        </labels>
    </default>
</config>