<?xml version="1.0"?>
<config>
    <modules>
        <Hd_Bccp>
            <version>1.0.0.0</version>
        </Hd_Bccp>
    </modules>
    <global>
        <helpers>
            <hd_bccp>
                <class>Hd_Bccp_Helper</class>
            </hd_bccp>
        </helpers>
        <blocks>
            <hd_bccp>
                <class>Hd_Bccp_Block</class>
            </hd_bccp>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Hd_Bccp_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Hd_Bccp_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Hd_Bccp_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <hd_bccp>
                <class>Hd_Bccp_Model</class>
                <resourceModel>hd_bccp_resource</resourceModel>
            </hd_bccp>
            <hd_bccp_resource>
                <class>Hd_Bccp_Model_Resource</class>
                <entities>
                    <bank>
                        <table>hd_bccp_bank</table>
                    </bank>
                    <bank_store>
                        <table>hd_bccp_bank_store</table>
                    </bank_store>
                    <bank_mapping>
                        <table>hd_bccp_bank_mapping</table>
                    </bank_mapping>
                    <bank_creditcard>
                        <table>hd_bccp_bank_creditcard</table>
                    </bank_creditcard>
                    <creditcard>
                        <table>hd_bccp_creditcard</table>
                    </creditcard>
                    <creditcard_store>
                        <table>hd_bccp_creditcard_store</table>
                    </creditcard_store>
                    <creditcard_mapping>
                        <table>hd_bccp_creditcard_mapping</table>
                    </creditcard_mapping>
                    <creditcard_payment>
                        <table>hd_bccp_creditcard_payment</table>
                    </creditcard_payment>
                    <creditcard_country>
                        <table>hd_bccp_creditcard_country</table>
                    </creditcard_country>
                    <promo>
                        <table>hd_bccp_promo</table>
                    </promo>
                    <promo_store>
                        <table>hd_bccp_promo_store</table>
                    </promo_store>
                    <promo_mapping>
                        <table>hd_bccp_promo_mapping</table>
                    </promo_mapping>
                </entities>
            </hd_bccp_resource>
        </models>
        <resources>
            <hd_bccp_setup>
                <setup>
                    <module>Hd_Bccp</module>
                    <class>Hd_Bccp_Model_Resource_Setup</class>
                </setup>
<!--                
                <connection>
                    <use>core_setup</use>
                </connection>
-->
            </hd_bccp_setup>
<!--            
            <hd_bccp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hd_bccp_write>
            <hd_bccp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hd_bccp_read>
-->
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <!-- Common Params -->
                <hd_bccp_cc_id>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_cc_id>
                <hd_bccp_cc_name>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_cc_name>
                <hd_bccp_cc_payment_id>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_cc_payment_id>
                <hd_bccp_bank_id>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_bank_id>
                <hd_bccp_bank_name>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_bank_name>
                <hd_bccp_payments>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_payments>
                <!-- Gateway Params -->
                <hd_bccp_gateway_cc_code>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_gateway_cc_code>
                <hd_bccp_gateway_bank_code>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_gateway_bank_code>
                <hd_bccp_gateway_merchant_code>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_gateway_merchant_code>
                <hd_bccp_gateway_promo_code>
                    <to_order_payment>*</to_order_payment>
                </hd_bccp_gateway_promo_code>
                <!-- Surcharge Params -->
            </sales_convert_quote_payment>
            <sales_convert_quote_address>
                <hd_bccp_surcharge>
                    <to_order_address>*</to_order_address>
                </hd_bccp_surcharge>
                <hd_bccp_base_surcharge>
                    <to_order_address>*</to_order_address>
                </hd_bccp_base_surcharge>
            </sales_convert_quote_address>
            <sales_convert_quote>
                <hd_bccp_surcharge>
                    <to_order_address>*</to_order_address>
                </hd_bccp_surcharge>
                <hd_bccp_base_surcharge>
                    <to_order_address>*</to_order_address>
                </hd_bccp_base_surcharge>
            </sales_convert_quote>
        </fieldsets>
        
        <sales>
            <totals_sort>
                <hd_bccp_surcharge>60</hd_bccp_surcharge>
            </totals_sort>       
            <quote>
                <totals>
                    <hd_bccp_surcharge>
                        <class>hd_bccp/sales_quote_address_total_surcharge</class>
                        <renderer>hd_bccp/checkout_total_surcharge</renderer>
                        <before>msrp</before>
                        <!-- CE VERSION -->
                        <after>grand_total,discount,tax</after>
                        <!-- EE VERSION -->
                        <!--<after>grand_total,reward,giftcardaccount,customerbalance</after>-->
                    </hd_bccp_surcharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <hd_bccp_surcharge>
                        <class>hd_bccp/sales_order_invoice_total_surcharge</class>
                        <before>msrp</before>
                        <!-- CE VERSION -->
                        <after>grand_total,discount,tax</after>
                        <!-- EE VERSION -->
                        <!--<after>grand_total,reward,giftcardaccount,customerbalance</after>-->
                    </hd_bccp_surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <hd_bccp_surcharge>
                        <class>hd_bccp/sales_order_creditmemo_total_surcharge</class>
                        <before>msrp</before>
                        <!-- CE VERSION -->
                        <after>grand_total,discount,tax</after>
                        <!-- EE VERSION -->
                        <!--<after>grand_total,reward,giftcardaccount,customerbalance</after>-->
                    </hd_bccp_surcharge>
                </totals>
            </order_creditmemo>
        </sales>
        
    </global>
   
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hd_bccp before="Mage_Adminhtml">Hd_Bccp_Adminhtml</hd_bccp>
                    </modules>
                </args>
            </adminhtml>
        </routers>        
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <hd_bccp>
                    <file>hd_bccp.xml</file>
                </hd_bccp>
            </updates>
        </layout>
        <translate>
            <modules>
                <Hd_Bccp>
                    <files>
                        <default>Hd_Bccp.csv</default>
                        <admin>Mage_Adminhtml.csv</admin>
                        <core>Mage_Core.csv</core>
                    </files>
                </Hd_Bccp>
            </modules>
        </translate>        
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <hd_bccp_salesrule_add_rule_conditions>
                        <class>hd_bccp/observer</class>
                        <method>addRuleConditions</method>
                    </hd_bccp_salesrule_add_rule_conditions>
                </observers>
            </salesrule_rule_condition_combine>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <hd_bccp_import_data_before>
                        <type>singleton</type>
                        <class>Hd_Bccp_Model_Observer</class>
                        <method>adminhtmlSalesOrderCreateProcessData</method>
                    </hd_bccp_import_data_before>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <!--
            <sales_quote_collect_totals_before>
                <observers>
                    <hd_bccp_import_data_before>
                        <type>singleton</type>
                        <class>Hd_Bccp_Model_Observer</class>
                        <method>adminhtmlSalesQuoteCollectTotalsBefore</method>
                    </hd_bccp_import_data_before>
                </observers>
            </sales_quote_collect_totals_before>
            -->
        </events>        
    </adminhtml>
    
    <frontend>
        <routers>
            <hd_bccp>
                <use>standard</use>
                <args>
                    <module>Hd_Bccp</module>
                    <frontName>bccp</frontName>
                </args>
            </hd_bccp>
        </routers>
        <layout>
            <updates>
                <hd_bccp>
                    <file>hd_bccp.xml</file>
                </hd_bccp>
            </updates>
        </layout>
        <translate>
            <modules>
                <Hd_Bccp>
                    <files>
                        <default>Hd_Bccp.csv</default>
                        <sales>Mage_Sales.csv</sales>
                        <core>Mage_Core.csv</core>
                    </files>
                </Hd_Bccp>
            </modules>
        </translate>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <hd_bccp_import_data_before>
                        <class>Hd_Bccp_Model_Observer</class>
                        <method>quotePaymentImportDataBefore</method>
                    </hd_bccp_import_data_before>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>
    </frontend>
    
    <default>
        <hd_bccp>
            <country_support>
                <enable>1</enable>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
            </country_support>
            <store_support>
                <enable>1</enable>
            </store_support>
            <frontend>
                <import_jquery>1</import_jquery>
            </frontend>
            <backend>
                <import_jquery>1</import_jquery>
            </backend>
        </hd_bccp>
        <sales>
            <totals_sort>
                <hd_bccp_surcharge>60</hd_bccp_surcharge>
            </totals_sort>
        </sales>
    </default>
    
</config> 