<?xml version="1.0"?>
<config>
   <sections>
        <hd_bccp translate="label" module="hd_bccp">
            <label>Payment Options</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                
                <store_support translate="label" module="hd_bccp">
                    <label>Stores Support</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label" module="hd_bccp">
                            <label>Enable Store Support</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                    </fields>
                </store_support>
                    
                <country_support translate="label" module="hd_bccp">
                    <label>Countries Support</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label" module="hd_bccp">
                            <label>Enable Country Support</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <allowspecific translate="label" module="hd_bccp">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enable><value>1</value></enable>
                            </depends>
                        </allowspecific>
                        <specificcountry translate="label" module="hd_bccp">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enable><value>1</value></enable>
                                <allowspecific><value>1</value></allowspecific>
                            </depends>
                        </specificcountry>
                    </fields>
                </country_support>
                
                <frontend translate="label" module="hd_bccp">
                    <label>Frontend Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <import_jquery translate="label,comment" module="hd_bccp">
                            <label>Import Jquery File</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Select ONLY if your frontend template does not use Jquery]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </import_jquery>
                    </fields>
                </frontend>
                
                <!--
                <fee_simulator translate="label" module="hd_bccp">
                    <label>Fees Simulator</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable translate="label" module="hd_bccp">
                            <label>Enable fees simulator</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <payment_method_code translate="label" module="hd_bccp">
                            <label>Payment method for calculator</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>hd_bccp/system_config_source_method</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_method_code>
                    </fields>
                </fee_simulator>
                -->
            </groups>
        </hd_bccp>
    </sections>
</config>