<?xml version="1.0"?>
<config>
  <modules>
    <Ecloud_FechaBloques>
      <version>0.1.1</version>
    </Ecloud_FechaBloques>
  </modules>
  <global>
    <models>
      <fechabloques>
        <class>Ecloud_FechaBloques_Model</class>
      </fechabloques>
    </models>
    <resources>
      <ecloud_fechabloques_setup>
        <setup>
          <module>Ecloud_FechaBloques</module>
        </setup>
      </ecloud_fechabloques_setup>
    </resources>
    <blocks>
      <fechabloques>
        <class>Ecloud_FechaBloques_Block</class>
      </fechabloques>
      <cms>
        <rewrite>
          <block>Ecloud_FechaBloques_Block_Block</block>
        </rewrite>
      </cms>
      <adminhtml>
        <rewrite>
          <cms_block_edit_form>Ecloud_FechaBloques_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <fechabloques>
        <class>Ecloud_FechaBloques_Helper</class>
      </fechabloques>
    </helpers>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Ecloud_FechaBloques before="Mage_Adminhtml">Ecloud_FechaBloques_Adminhtml</Ecloud_FechaBloques>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config> 