<?xml version="1.0"?>
<config>
  <frontend>
      <routers>
          <treggo>
              <use>standard</use>
              <args>
                  <module>Treggo_Customshippingmethod</module>
                  <frontName>treggo</frontName>
              </args>
          </treggo>
      </routers>
  </frontend>
  <modules>
    <Treggo_Customshippingmethod>
      <version>2.0.1</version>
    </Treggo_Customshippingmethod>
  </modules>
  <global>
    <models>
      <treggo_customshippingmethod>
        <class>Treggo_Customshippingmethod_Model</class>
      </treggo_customshippingmethod>
    </models>
    <helpers>
      <treggo_customshippingmethod>
        <class>Treggo_Customshippingmethod_Helper</class>
      </treggo_customshippingmethod>
    </helpers>
    <resources>
      <customshippingmethod_setup>
          <setup>
              <module>Treggo_Customshippingmethod</module>
              <class>Mage_Sales_Model_Mysql4_Setup</class>
          </setup>
          <connection>
              <use>core_setup</use>
          </connection>
      </customshippingmethod_setup>
      <customshippingmethod_write>
          <connection>
              <use>core_write</use>
          </connection>
      </customshippingmethod_write>
      <customshippingmethod_read>
          <connection>
              <use>core_read</use>
          </connection>
      </customshippingmethod_read>
    </resources>
  </global>
  <adminhtml>
    <events>
        <adminhtml_widget_container_html_before>
            <observers>
                <treggo_customshippingmethod>
                    <class>treggo_customshippingmethod/observer</class>
                    <type>singleton</type>
                    <method>adminhtmlWidgetContainerHtmlBefore</method>
                </treggo_customshippingmethod>
            </observers>
        </adminhtml_widget_container_html_before>
    </events>
    <layout>
      <updates>
          <treggo_customshippingmethod>
            <file>treggo.xml</file>
          </treggo_customshippingmethod>
      </updates>
    </layout>
  </adminhtml>
  <default>
    <carriers>
      <treggo_customshippingmethod>
        <active>1</active>
        <showmethod>1</showmethod>
        <sallowspecific>1</sallowspecific>
        <model>treggo_customshippingmethod/shipping</model>
        <name>Envío en 2 horas por Treggo</name>
        <price>10.00</price>
        <title>Treggo Shipping Method</title>
        <shippingtext>Envío en 2 horas por Treggo</shippingtext>
        <orderprefix>Compra numero</orderprefix>
        <warehouse>Av Corrientes 1578</warehouse>
      </treggo_customshippingmethod>
    </carriers>
  </default>
</config>