<!--@subject Confirmación de cuenta para {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Estimado/a {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Tú e-mail {{var customer.email}} debe ser confirmado antes de ser utilizado para acceder.</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Para confirmar el e-mail y poder acceder, por favor, utiliz&aacute; <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">este link de confirmaci&oacute;n</a>. Este link es v&aacute;lido una única vez.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0 0 16px 0; padding:13px 18px; background:#f9f9f9;">
                                Utiliz&aacute; los siguientes valores para acceder:<br/>
                                <strong>E-mail:</strong> {{var customer.email}}<br/>
                                <strong>Contraseña:</strong> La contraseña que elegiste al crear la cuenta.
                            </p>
                            <p style="font-size:12px; line-height:16px; margin:0;">Si ten&eacute;s alguna pregunta sobre su cuenta o cualquier otro asunto, por favor comunicate con nosotros a <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o por tel&eacute;fono al {{config path='general/store_information/phone'}}.</p>
                                              </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

{{template config_path="design/email/footer"}}
